@import "tailwindcss";
@import "@nuxt/ui";

/* assets/css/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Cores para o Modo Claro */
  --bg-app: #f8fafc;
  --bg-card: #ffffff;
  --text-main: #020618;
  --text-muted: #64748b;
  --border-ui: rgba(0, 0, 0, 0.05);
}

[data-theme='dark'] {
  /* Cores para o Modo Escuro (sua paleta) */
  --bg-app: #020618;
  --bg-card: #1D293D;
  --text-main: #ffffff;
  --text-muted: rgba(255, 255, 255, 0.4);
  --border-ui: rgba(255, 255, 255, 0.05);
}

body {
  background-color: var(--bg-app);
  color: var(--text-main);
  transition: background-color 0.3s ease, color 0.3s ease;
}